body {
    background-image: url("images/pizza3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#top {
    text-align:justify;
    color: hsla(73, 83%, 43%, 0.685);
}
h1 {
    font-family:'Times New Roman', Times, serif;
}
p {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Kalam';
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h5 {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merienda', cursive;
}
p ,h5 {
    font-weight:bolder;
    color: black;
}

#btn {
    text-align: center;
    font-family:fantasy, cursive;
    font-family:monospace, cursive
}
#icon h2 {
    font-family: 'Butcherman', cursive;
    font-family: 'Fredericka the Great', cursive;
}
#icon p {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merienda', cursive;
}
#top-inner {
    background-image: url("images/pizza6.jpg");
    text-align: center;
    opacity: 0.8;
    padding: 10px;
}
#top-inner p {
    font-family: 'Courier New', Courier, monospace;
    color: #242222;
}
.fa {
    padding: 20px;
    font-size: 30px;
}
#slogan {
    color: brown;
}

body h3 {
    text-align: center;
    color: #0004ff93;
    font-family: 'Butcherman', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Abril Fatface', cursive;
}
h4 {
    color: white;
}
h6 {
    font-family: 'Fascinate', cursive;
    font-size: 1.3em;
    color: hsl(0, 95%, 50%);
}
#showorder {
    text-align: center;
}
.btn {
    float: right;
}
.table {
    opacity: 0.8;
    font-family: 'Shadows Into Light', cursive;
    font-size:medium;
    color:hsl(128, 39%, 35%);
}
form label {
    color: #080808;
    font-weight: bold;
    font-size:large;
    font-family: 'Butcherman', cursive;
    font-family: 'Fredericka the Great', cursive;
}
#del {
    color:#2b476b;
    text-align: center;
    font-family: 'Butcherman', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.5em;
    font-weight: bold;
}
#cart h4 {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
}
#logo {
    width: 100%;
}
.par {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-weight: bold;
}
.card-body a , button {
    font-family: 'Butcherman', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Abril Fatface', cursive; 
}
option {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merienda', cursive;
}
#footer {
    background-color: rgb(10, 70, 78);
    color: rgba(34, 156, 9, 0.534);
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merienda', cursive;
    height: 30vh;
    border-radius: 5px;
}
#cl {
    color: #661919ce;
}
.sub {
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Merienda', cursive;
}
#subscribe {
    color:#3ac90e;
    text-decoration: underline;
}
